/* Global styles ============= */
html,
body {
  width: 100%;
  height: 100%;
}


body {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}



.photo {
  border-radius: 50%!important;
  height: 100px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  letter-spacing: 1px;
}

#work h2 {
  font-size: 40px;
}


p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}


.btn-primary {
  color: #fff;
  background-color: #18033b;
  scrollbar-highlight-color: #129bf7;
  
}


/* Navigation bar styles ============= */

#mainNav {
  background-color:#18033b;
  padding: 15px 0;
} 


#mainNav .navbar-brand {
  color: #e06fd7;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}


#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #129bf7;
}


#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #e06fd7;
}

.navbar-light .navbar-toggler {
  color: #e06fd7;
  /* border-color: #e06fd7; */
}

.fa-bars::before {
  content: "/f0c9";
}

.navbar-toggler:focus, .navbar-toggler:hover {
  text-decoration: none;
}

#mainNav .navbar-nav > li > a {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}


#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}


#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #e06fd7;
}


#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #129bf7;
}

/* Hero section ============= */

/* Jumbotron  */
.jumbotron {
    background-image: url("../Images/window2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  
  /* Jumbotron copy */
  .jumboCopy {
    width: 70%;
    min-width: 450px;
    max-width: 700px;
    color: white;
    text-align: center;
  }


  .skills {
  background-color:#5c575ea9;
  padding-top: 30px;
  padding-bottom: 20px;
}


.card {
  padding: 20px 20px;
}

.card 

.row-skills {
  column-count: 2;
  padding-top: 20px;
  padding-bottom: 50px;
  /* overflow: hidden;
  list-style: none; */
}


ul .list-item {
  padding-top: 30px;
}


.contact-section {
  /* padding: 10rem 70rem; */
  padding: 20px 20px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000000 100%), url(../Images/Contact-me.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}


form {
  width: 500px;
  margin: 35px auto;
  padding: 45px;
  border: 1px solid #F2F2F2;
}

  #text-bold {
    font-weight: bold;
  }
  

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #0f0224;
}


footer p {
  font-size: 12px;
  margin: 0;
}


footer ul {
  margin-bottom: 0;
}


footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}


footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}


.btn {
  padding: 1.25rem 2rem;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
  border-radius: 300px;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif'; 
}

@media screen and (max-width: 446px) {
  .purpleBackground {
  background-size: 450px;
  
}
}